.breadcrumbWrapper {
  position: relative;
  padding-bottom: 5px;
  margin: 10px 8px 8px;
  font-weight: 300;
  font-size: 18.5px;
  border-bottom: 1px solid #aaacb0;
}

.divider {
  margin: 0 8px;
}

.breadcrumbWrapper ol {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.firstBreadcrumb {
  color: rgba(0, 0, 0, 0.45);
}

.otherBreadcrumb {
  font-weight: 350;
  color: rgba(0, 0, 0, 0.45);
}