.drawerPanel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: black;
  padding: 5px 20px;
  color: #c0c0c0;
}

.closeButton {
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 46px;
  height: 39px;
  z-index: 20000001;
  width: 46px;
  height: 39px;
  border-radius: 2px;
  background-color: rgba(62,62,62,0.85);
  padding-top: 8px;
  text-align: center;
}
.closeButton span {
  color: #fff;
  text-decoration: none;
}

.drawerButton {
  position: fixed;
  font-size: 25px;
  color: rgba(255,255,255,0.6);
  margin: 5px 10px;
}

.drawerButton span{
  font-size: 10px;
  line-height: 8px;
  margin-top: 0;
  display: block;
  text-align: center;
}

.titleWrapper {
  color: #286ea0;
  border-bottom: 1px solid #2b485d;
  margin-bottom: 15px;
}

.titleWrapper span {
  letter-spacing: 1px;
 }

.tableWrapper {
  width: 100%;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  margin-top: 0;
  flex-flow: wrap;
  display: flex;
}
.tableItem {
  width: 50%;
  float: left;
  clear: both;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 13.5px;
  width: 49.8%;
  text-align: left;
}

.tableItem:first-child {
  border-top: none;
}
.tableItem:nth-child(2) {
  border-top: none;
}
.tableItem:nth-child(even) {
  border-right: 0px;
}

.tableItem a{
  padding: 5px 0 5px 7%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .drawerButton {
    display: none;
  }
}