    <article>
      <ID>{{id}}</ID>
      <nativeCountry>TW</nativeCountry> <!--    ISO 3166-1    -->
      <language>zh</language>           <!--    ISO 639-1     -->
      <publishCountries>
        <country>TW</country>
      </publishCountries>
      <startYmdtUnix>{{createdAt}}</startYmdtUnix>
      <endYmdtUnix>{{endAt}}</endYmdtUnix> 
      <title>{{title}}</title> 
      <category>{{category[0]}}</category> 
      <publishTimeUnix>{{createdAt}}</publishTimeUnix>
      <updateTimeUnix>{{createdAt}}</updateTimeUnix>
      <contentType>0</contentType>
      <meta>
        {{description}}
      </meta>
    </article>

