<article>
  <ID>{{id}}</ID>
  <nativeCountry>TW</nativeCountry>
  <language>zh</language>
  <startYmdtUnix>{{createdAt}}</startYmdtUnix>
  <endYmdtUnix>{{endAt}}</endYmdtUnix> 
  <title>{{title}}</title> 
  <category>{{category}}</category> 
  <publishTimeUnix>{{createdAt}}</publishTimeUnix>
  <contentType>0</contentType>
  <contents>
    <text>
      <content><![CDATA[<p>{{description}}</p>]]></content>
    </text>
  </contents>
  <author> Satoshi </author>
  <sourceUrl><![CDATA[http://media.pbplus.me/?p=73579?utm_medium=line_today&utm_source=line_today&utm_content=link]]></sourceUrl>
</article>