<article>
  <ID>{{id}}</ID>
  <nativeCountry>TW</nativeCountry>
  <language>zh</language>
  <startYmdtUnix>{{createdAt}}</startYmdtUnix>
  <endYmdtUnix>{{ endYmdtUnix }}</endYmdtUnix> 
  <title>{{title}}</title> 
  <category>{{category}}</category> 
  <publishTimeUnix>{{createdAt}}</publishTimeUnix>
  <updateTimeUnix>{{updatedAt}}</updateTimeUnix>
  <contentType>0</contentType>
  <thumbnail>{{coverUrl}}</thumbnail>
  <contents>
    <text>
      <content><![CDATA[<p>{{description}}</p>]]></content>
    </text>
  </contents>
  <author> Satoshi </author>
  <sourceUrl><![CDATA[ {{{sourceUrl}}} ]]></sourceUrl>
</article>